$primary: #4363f9;
$secondary: #f26b21;
$success: #60d084;
$danger: #e94f37;
$warning: #ffc107;
$info: #252d6c;
$dark: #4d4e4e;
$light: #f4f5fb;

body {
  font-family: "Poppins", sans-serif !important;
  background-color: $light;
  color: $dark !important;
}

a {
  color: $primary;
}

p {
  font-size: clamp(14px, 1.11111vw, 16px) !important;
  line-height: 150% !important;
}

.table thead {
  background-color: $light !important;
  color: $dark !important;
}

tr .btn {
  border-radius: 0.375rem !important;
}

.btn {
  padding: 0.475rem 1.5rem !important;
}

.btn-circle {
  width: 30px !important;
  height: 30px !important;
  padding: 6px 0px !important;
  border-radius: 15px !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 1.42857 !important;
  min-width: 0px !important;
}

.btn-success {
  color: white !important;
}

.btn-outline-success.active {
  color: white !important;
}

.btn-outline-success:hover {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark !important;
  margin: 0px !important;
  line-height: 150% !important;
}

label {
  font-weight: 500;
}

// CARD HEADER
.card-header {
  font-weight: bold;
}

// Tabs
.nav-tabs .nav-item {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.nav-tabs .nav-link.active {
  border-bottom-color: #4363f9;
  background-color: #f4f5fb !important;
}

.nav-tabs .nav-link {
  padding: 1rem 1.5rem !important;
  border-bottom: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.form-control {
  border-radius: 0rem !important;
  border-top: 0px solid !important;
  border-right: 0px solid !important;
  border-bottom: solid $primary !important;
  border-left: 0px solid !important;
  background-color: $light !important;
}

.form-control:disabled {
  opacity: 0.5 !important;
  border-bottom: solid $dark !important;
}

.display-4 {
  font-weight: 400 !important;
}

.display-title {
  font-size: calc(1.625rem + 4.5vw);
}

.toolbar {
  padding: 12px 20px;
}

.scroller-side {
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.scroller {
  height: 460px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.scroller-product {
  height: 160px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.table-scroll {
  max-height: 550px;
  scrollbar-width: thin;
}

table td,
th {
  font-size: 13px;
}

table .badge {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.list-group-item.active {
  z-index: 2;
  color: #3a3a49;
  background-color: white !important;
  border-color: $primary !important;
  border-width: 1px !important;
  color: $primary !important;
}

// Bootstrap functions
@import "./node_modules/bootstrap/scss/functions";

// theme functions
@import "./custom/functions/functions";

//Third party plugins style import

//Aos Plugin Scss
@import "./node_modules/aos/src/sass/aos.scss";

//Import bootstrap overrides variables - theme variables
@import "./custom/variables/variables";
@import "./custom/variables/additional-variables";

//Import bootstrap core scss
@import "./node_modules/bootstrap/scss/bootstrap.scss";

//Admin core css files
@import "./custom/utilities/utilities";
@import "./custom/components/components";
// Bootstrap functions
@import "./custom/webfonts/webfonts";
