$primary: #4363F9;
$secondary: #F26B21;
$success: #60D084;
$danger: #E94F37;
$warning: #ffc107;
$info: #252D6C;
$dark: #393E41;
$light: #F4F5FB;


body {
    // font-family: 'Poppins',
    //     sans-serif !important;
    background-color: $light;
    color: $dark !important;
}

a {
    color: $primary;
}

.form-select {
    border-radius: 20px !important;
}

.form-control {
    border-top: 0px solid !important;
    border-right: 0px solid !important;
    border-bottom: solid $primary !important;
    border-left: 0px solid !important;
    background-color: $light !important;

}

.display-4 {
    font-weight: 400 !important;
}

.display-title {
    font-size: calc(1.625rem + 4.5vw);
}


// Bootstrap functions
@import './node_modules/bootstrap/scss/functions';

// theme functions
@import './custom/functions/functions';

//Third party plugins style import

//Aos Plugin Scss
@import "./node_modules/aos/src/sass/aos.scss";

//Import bootstrap overrides variables - theme variables
@import "./custom/variables/variables";
@import "./custom/variables/additional-variables";

//Import bootstrap core scss
@import "./node_modules/bootstrap/scss/bootstrap.scss";




//Admin core css files
@import "./custom/utilities/utilities";
@import "./custom/components/components";
// Bootstrap functions
@import './custom/webfonts/webfonts';