<!--//page-header//-->
<header class="navbar py-0 page-header border-bottom navbar-expand navbar-light px-4">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <div class="d-flex align-items-center flex-no-wrap text-truncate">
            <!--Sidebar-icon-->
            <img src="assets/smart-mark.svg">
        </div>
    </a>
    <ul class="navbar-nav d-flex align-items-center h-100">
        <li class="nav-item d-none d-lg-flex flex-column h-100 me-lg-2 align-items-center justify-content-center">
            <a href="javascript:void(0)"
                class="sidebar-trigger nav-link rounded-3 size-35 d-flex align-items-center justify-content-center p-0">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="nav-item d-flex flex-column me-lg-2 h-100 justify-content-center dropdown">
            <div class="d-none d-lg-block d-xl-block">
                <div class="d-flex">
                    <div class="me-1"><select class="form-select" aria-label="Default select example">
                            <option selected>Manufacturer</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select></div>
                    <div class="me-1"><select class="form-select" aria-label="Default select example">
                            <option selected>Procter & Gamber</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select></div>
                    <div class="me-1"><select class="form-select" aria-label="Default select example">
                            <option selected>Pantene - US</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto d-flex align-items-center h-100">
        <li class="nav-item d-flex flex-column h-100 justify-content-center dropdown">
            <a href="#" data-bs-toggle="dropdown"
                class="dropdown-toggle nav-link py-2 px-2 d-flex align-items-center justify-content-center p-0 me-2">
                <i class="fa fa-globe fa-2x text-primary" style="margin-top: 0px;"></i>
            </a>
            <div class="dropdown-menu overflow-hidden mt-0">
                <a href="#!" class="dropdown-item active">
                    English
                </a>
                <a href="#!" class="dropdown-item">
                    Spanish
                </a>
                <a href="#!" class="dropdown-item">
                    French
                </a>
            </div>
        </li>
        <div class="d-none d-lg-block d-xl-block ms-auto d-flex align-items-center h-100">
            <div class="dropdown d-flex flex-column h-100 justify-content-center dropdown">
                <button data-bs-toggle="dropdown" class="btn btn-outline-primary me-1 dropdown-toggle rounded-pill"><i
                        class="fa fa-gear me-1"></i> Settings</button>
                <div class="dropdown-menu overflow-hidden mt-0">
                    <a href="#!" class="dropdown-item active">
                        English
                    </a>
                    <a href="#!" class="dropdown-item">
                        Spanish
                    </a>
                    <a href="#!" class="dropdown-item">
                        French
                    </a>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block d-xl-block">
            <a href="page-auth-signin.html" class="btn btn-primary rounded-pill">Log out</a>
        </div>

        <li
            class="nav-item dropdown ms-1 ms-lg-3 d-flex d-lg-none align-items-center justify-content-center flex-column h-100">
            <a href="#"
                class="nav-link sidebar-trigger-lg-down p-0 d-flex align-items-center justify-content-center rounded-3">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>
</header>
<!--Main Header End-->