<div class="list-group scroller-side border-bottom">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-4"><img
                    src="https://i5.walmartimages.com/asr/2ac2fb21-14c8-42eb-a558-f038cb04529c_1.b71dbcc44fccb623f4b91c1f16eecee6.jpeg"
                    class="img-fluid rounded" alt="..." />
            </div>
            <div class="col-8"><small>Spindrift Raspberry Lime Sparkling Water, 12 Fl. Oz. Cans (Case of 24)</small>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-4"><img
                    src="https://i5.walmartimages.com/asr/6398ac84-9cbd-4bde-a08e-f9199e693977_1.6eaeb7194abd9ae4d807bc3e019512e7.jpeg"
                    class="img-fluid rounded" alt="..." />
            </div>
            <div class="col-8"><small>Spindrift Grapefruit Sparkling Water, 12 Fl. Oz. Cans (Case of 24)</small>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-4"><img
                    src="https://i5.walmartimages.com/asr/7dc92306-657a-419e-bc8d-f818b8c692e3.91693e8c83fc2606262f9a1449688d81.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
                    class="img-fluid rounded" alt="..." />
            </div>
            <div class="col-8"><small>Spindrift Sparkling Water Made with Real Squeezed Fruit Lemon -- 12 fl oz 8 Each
                    Pack of 2</small>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-4"><img
                    src="https://i5.walmartimages.com/asr/b9f669ad-f8c0-45a7-8c4a-3be1b2a859e6.1ba8f3bdbb03a76f7bd07541fae680ef.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
                    class="img-fluid rounded" alt="..." />
            </div>
            <div class="col-8"><small>Spindrift Sparkling Water Made with Real Squeezed Fruit Raspberry Lime -- 12 fl oz
                    Each /</small>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-4"><img
                    src="https://i5.walmartimages.com/asr/16b9aa5a-86bd-4bf9-9f5b-2e3b8f3262fc.3c927baae22cef0798e0f97a55298c9a.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
                    class="img-fluid rounded" alt="..." />
            </div>
            <div class="col-8"><small>Spindrift Sparkling Water, 4 Flavor Variety Pack, Made with Real Squeezed Fruit,
                    12 Fl Oz (Pack of 20)
                    $31.92</small>
            </div>
        </div>
    </a>
</div>