<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Target</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="https://images.basketful.co/ui-images/retailers/1x1/target.png" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Target</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="https://images.basketful.co/ui-images/retailers/1x1/target.png" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Walmart Grocery</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="http://rockys24.sg-host.com/path-to-purchase/assets/walmart-mark.svg" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Walmart Grocery</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="http://rockys24.sg-host.com/path-to-purchase/assets/walmart-mark.svg" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Walmart Grocery</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="http://rockys24.sg-host.com/path-to-purchase/assets/walmart-mark.svg" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Publix</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="https://images.basketful.co/ui-images/retailers/1x1/publix_instacart.png" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Publix</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="https://images.basketful.co/ui-images/retailers/1x1/publix_instacart.png" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h1 class="h5">Publix</h1>
                    <p>
                        299 E International Speedway Boulevard De
                        Land, FL 32724
                    </p>
                    <div class="text-muted"> 1.33mi</div>
                    <a href="#">Directions</a>
                </div>
                <div class="col-3">
                    <img class="img-fluid" style="border-radius: 50%"
                        src="https://images.basketful.co/ui-images/retailers/1x1/publix_instacart.png" />
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>