<div class="col-12">
  <button class="btn btn-primary rounded-pill" disabled>
    All (0 Stores)
  </button>
  <!-- <button class="btn btn-light rounded-pill" style="
                            text-align: left;
                            padding: 0.25rem 1rem 0.25rem 0.25rem;
                          ">
    <img width="30px" class="me-2" src="https://images.basketful.co/ui-images/retailers/1x1/target.png" />Target
    <button class="btn btn-light rounded-pill" style="
                            text-align: left;
                            padding: 0.25rem 1rem 0.25rem 0.25rem;
                          ">
      <img style="border-radius: 50%" width="30px" class="me-2"
        src="http://rockys24.sg-host.com/path-to-purchase/assets/walmart-mark.svg" />Walmart
    </button>
    <button class="btn btn-light rounded-pill" style="
                            text-align: left;
                            padding: 0.25rem 1rem 0.25rem 0.25rem;
                          ">
      <img style="border-radius: 50%" width="30px" class="me-2"
        src="https://images.basketful.co/ui-images/retailers/1x1/publix_instacart.png" />Publix
    </button> -->
</div>