<div class="card border-0 overflow-hidden">
    <div class="card-header d-lg-none">
        <div class="hstack gap-3">
            <div class="bg-body-tertiary">{TITLE}
            </div>
            <div class="bg-body-tertiary ms-auto">
                <span class="badge bg-light text-dark">1
                    of {#}</span>
            </div>
        </div>
    </div>
    <div class="card-header">
        Options about the way to show the product
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-floating mb-5">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected="">Master Product</option>
                    </select>
                    <label for="floatingSelect">Widget Type</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Substitute Related Products</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Show Price</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Include new retailers</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Include all in Selector</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-outline-primary rounded-pill">
            Previous</a>
        <a href="#" class="btn btn-primary rounded-pill">
            Next</a>
    </div>
</div>