<div class="card border-0 overflow-hidden">
    <div class="card-header d-lg-none">
        <div class="hstack gap-3">
            <div class="bg-body-tertiary">{TITLE}
            </div>
            <div class="bg-body-tertiary ms-auto">
                <span class="badge bg-light text-dark">1
                    of {#}</span>
            </div>
        </div>
    </div>
    <div class="card-header border-top-0">
        Do you want another look or text? <span style="font-weight: normal;">Activate custom options and modify the
            SmartSite display!</span>
    </div>
    <div class="card-header border-top-0">
        Design Options
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Border widget</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Shadow widget</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Background Transparency</label>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Background color</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Text color</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Link and modal colors</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Arrow color</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header border-top">
        Text Options
    </div>
    <div class="card-body">
        <div class="row g-1">
            <div class="col-lg-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>English</option>
                        <option value="1">Spanish</option>
                    </select>
                    <label for="floatingSelect">Default Language</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>English</option>
                        <option value="1">Spanish</option>
                    </select>
                    <label for="floatingSelect">Alternative Language</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>UI Texts</option>
                        <option value="1">Postal Code Messages</option>
                    </select>
                    <label for="floatingSelect">Custom Text</label>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="english-tab" data-bs-toggle="tab"
                            data-bs-target="#english-tab-pane" type="button" role="tab" aria-controls="english-tab-pane"
                            aria-selected="true">English</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="spanish-tab" data-bs-toggle="tab"
                            data-bs-target="#spanish-tab-pane" type="button" role="tab" aria-controls="spanish-tab-pane"
                            aria-selected="false">Spanish</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="english-tab-pane" role="tabpanel"
                        aria-labelledby="english-tab" tabindex="0">
                        <div class="card border-0 overflow-hidden">
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Retailer Call To
                                                Action</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                                        aria-describedby="button-addon2">
                                                    <button class="btn btn-primary" style="min-width: 0;" type="button"
                                                        id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                            <path
                                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                        </svg></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">PDP Call To
                                                Action</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                                        aria-describedby="button-addon2">
                                                    <button class="btn btn-primary" style="min-width: 0;" type="button"
                                                        id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                            <path
                                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                        </svg></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Custom text
                                                OOS</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                                        aria-describedby="button-addon2">
                                                    <button class="btn btn-primary" style="min-width: 0;" type="button"
                                                        id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                            <path
                                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                        </svg></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="spanish-tab-pane" role="tabpanel" aria-labelledby="spanish-tab"
                        tabindex="0">
                        <div class="card border-0 overflow-hidden">
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Retailer Call To
                                                Action</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                                        aria-describedby="button-addon2">
                                                    <button class="btn btn-primary" style="min-width: 0;" type="button"
                                                        id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                            <path
                                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                        </svg></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">PDP Call To
                                                Action</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                                        aria-describedby="button-addon2">
                                                    <button class="btn btn-primary" style="min-width: 0;" type="button"
                                                        id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                            <path
                                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                        </svg></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Custom text
                                                OOS</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                                        aria-describedby="button-addon2">
                                                    <button class="btn btn-primary" style="min-width: 0;" type="button"
                                                        id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                            <path
                                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                        </svg></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-outline-primary rounded-pill">
            Previous</a>
        <a href="#" class="btn btn-primary rounded-pill">
            Next</a>
    </div>
</div>