<div class="card border-0 overflow-hidden">
    <div class="card-header d-lg-none">
        <div class="hstack gap-3">
            <div class="bg-body-tertiary">{TITLE}
            </div>
            <div class="bg-body-tertiary ms-auto">
                <span class="badge bg-light text-dark">1
                    of {#}</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-auto mb-3">
                <label for="staticEmail2" class="mt-0 mt-lg-2">Choose
                    retailers to be shown to users and determine the order in
                    which they will show</label>
            </div>
            <div class="col-auto">
                <select class="form-select" aria-label="Default select example">
                    <option selected="">Random Selection</option>
                    <option value="1">Manual Selection</option>
                </select>
            </div>
        </div>
        <div class="row border-bottom pb-2 mb-2">
            <div class="col-auto">
                <div class="form-check form-switch mb-3 mb-lg-0">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        <i class="fa fa-circle text-primary"></i>
                        National
                        Retailers</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch mb-2 mb-lg-0">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        <i class="fa fa-circle text-warning"></i>
                        Local
                        Retailers</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch mb-3 mb-lg-0">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        <i class="fa fa-circle text-success"></i>
                        PDP
                        Retailers</label>
                </div>
            </div>
        </div>
        <div class="row pb-4 pt-2">
            <div class="col-auto mb-2">
                <div class="d-flex flex-column" style="width: 100px;">
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-light position-relative me-2"
                            data-bs-toggle="button" style="width: 100px;">
                            <img class="img-fluid" src="assets/Frame.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-2">
                <div class="d-flex flex-column" style="width: 100px;">
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-light position-relative me-2"
                            data-bs-toggle="button" style="width: 100px;">
                            <img class="img-fluid" src="assets/Frame.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-2">
                <div class="d-flex flex-column" style="width: 100px;">
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-light position-relative me-2"
                            data-bs-toggle="button" style="width: 100px;">
                            <img class="img-fluid" src="assets/Frame.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-2">
                <div class="d-flex flex-column" style="width: 100px;">
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-light position-relative me-2"
                            data-bs-toggle="button" style="width: 100px;">
                            <img class="img-fluid" src="assets/Frame.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-2">
                <div class="d-flex flex-column" style="width: 100px;">
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                            class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-light position-relative me-2"
                            data-bs-toggle="button" style="width: 100px;">
                            <img class="img-fluid" src="assets/Frame.svg">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom border-top py-2 mb-2">
            <div class="col-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"> Backup
                        Retailers</label>
                </div>
            </div>
        </div>
        <div class="row border-bottom py-2">
            <div class="col-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        Customer
                        Retailer Options</label>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane-1"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    Select Retailers</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane-1" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">
                <div class="card border-0 overflow-hidden">
                    <div class="card-body p-0" style="min-height: 5rem;">
                        <div class="table-responsive mt-3">
                            <table class="table table-borderless table-nowrap table-card mb-0" style="width: 100%">
                                <thead class="text-muted text-uppercase small bg-body bg-opacity-50">
                                    <tr>
                                        <th>Retailer Logo</th>
                                        <th>Retailer Name</th>
                                        <th>Type</th>
                                        <th>Carting Type</th>
                                        <th>Retailer Carting Parameters</th>
                                        <th class="text-end">Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="#!.html"><img src="assets/Frame.svg"
                                                        class="avatar p-1 border rounded-2 me-2 align-middle"
                                                        alt="" /></a>
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>National PDP Retailer</td>
                                        <td>
                                            PDP
                                        </td>
                                        <td></td>
                                        <td class="text-end">
                                            <button type="button" class="btn btn-outline-primary btn-circle"
                                                data-bs-toggle="modal" data-bs-target="#retailconfiguration"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary rounded-pill">
            Next</a>
    </div>
</div>