<div class="card overflow-hidden">
    <div class="card-header d-lg-none">
        <div class="hstack gap-3">
            <div class="bg-body-tertiary">
                <h5 class="mb-0">Save & Preview</h5>
            </div>
            <div class="bg-body-tertiary ms-auto">
                <h5 class="mb-0">
                    <span class="badge bg-light text-dark">4 of 4</span>
                </h5>
            </div>
        </div>
    </div>
    <div class="card-body" style="min-height: 5rem;">
        <div class="row">
            <div class="col-md-6 justify-content-start">
                <div class="row g-5">
                    <div class="col-lg-12">
                        <label for="formGroupExampleInput" class="form-label">Internal
                            Name
                            of
                            URL</label>
                        <input type="text" class="form-control" placeholder="" aria-label="First name">
                    </div>
                    <div class="col-lg-12">
                        <label for="formGroupExampleInput" class="form-label">Labels</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Choose Label
                            </option>
                            <option value="1">Agency</option>
                            <option value="2">Manufacturer</option>
                            <option value="2">Retailer</option>
                        </select>
                    </div>
                    <div class="col-lg-12">
                        <label for="formGroupExampleInput" class="form-label">Tracking
                            Status</label>
                        <div class="small text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg> Tracking disabled by implementation settings
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="formGroupExampleInput" class="form-label">Tracking</label>
                        <select class="form-select" aria-label="Default select example" disabled>
                            <option selected>Inherit
                            </option>
                            <option value="1">Inactive</option>
                            <option value="2">Active</option>
                        </select>
                        <div class="form-text text-dark">Implementation:
                            <strong class="text-danger">Off</strong>
                            < Client: <strong class="text-danger">Do not Track</strong>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="formGroupExampleInput" class="form-label">Geological
                            Provider</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>All
                            </option>
                            <option value="1">Agency</option>
                            <option value="2">Manufacturer</option>
                            <option value="2">Retailer</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="formGroupExampleInput" class="form-label">Last Date
                            of
                            Link <a href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                                data-bs-content="Eric ?"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                </svg></a></label>
                        <input type="date" class="form-control" placeholder="" aria-label="First name">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-outline-primary rounded-pill">
            Previous</a>
        <a href="#" class="btn btn-primary rounded-pill">
            Generate</a>
    </div>
</div>