<div class="card border-0 overflow-hidden">
    <div class="card-header d-lg-none">
        <div class="hstack gap-3">
            <div class="bg-body-tertiary">{TITLE}
            </div>
            <div class="bg-body-tertiary ms-auto">
                <span class="badge bg-light text-dark">1
                    of {#}</span>
            </div>
        </div>
    </div>
    <div class="card-header">
        Search and choose all the products that want to include in your widget
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="form-floating mb-2">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected="">By Brand</option>
                        <option value="1">By Labels</option>
                    </select>
                    <label for="floatingSelect">Product Selection</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-floating mb-2">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected="Demo"></option>
                        <option value="1">Pantene</option>
                        <option value="2">Pantene Pro V</option>
                    </select>
                    <label for="floatingSelect">Brand</label>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Only Show Available Products
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-outline-primary rounded-pill">
            Previous</a>
        <a href="#" class="btn btn-primary rounded-pill">
            Next</a>
    </div>
</div>