<div class="card">
    <div class="card-header d-lg-none">
        <div class="hstack gap-3">
            <div class="bg-body-tertiary">{TITLE}
            </div>
            <div class="bg-body-tertiary ms-auto">
                <span class="badge bg-light text-dark">1
                    of {#}</span>
            </div>
        </div>
    </div>
    <div class="card-header">
        Customize your display options
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Show
                        Prices</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Display
                        retailers in carousel</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header border-top">
        Customize your text options
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Heading
                        Text color:</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Secondary
                        Heading Text color:</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Bottom
                        Text color:</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Hyperlink
                        color:</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header border-top">
        Customize your background
    </div>
    <div class="card-body">
        <div class="row g-5">
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Background color:</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Show
                        Border</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">No inner
                        background</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Select an
                        inner background color</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2">
                    <label class="form-check-label" for="inlineCheckbox3">Select an
                        inner background image <a href="#" data-bs-container="body" data-bs-toggle="popover"
                            data-bs-placement="top"
                            data-bs-content="Display size: 450x325, Maximum file size: 10mb for MP4, Accepted file formats: Uploaded MP4 file or URL link to MP4; YouTube; Vimeo; Facebook. "><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                            </svg></a></label>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <label for="inputPassword" class="col-lg-2 col-form-label">Inner
                        background color:</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" style="min-width: 0;" type="button" id="button-addon2"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header border-top">
        Add marketing assets
    </div>
    <div class="card-body">
        <div class="row g-5">
            <div class="col-12">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Display
                        logo</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">No
                        Assets</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Add
                        Image <a href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                            data-bs-content="Maximum width: 450px, Maximum height: 325px, Maximum file size: 150kb, Accepted file formats: JPG, PNG, GIF, Animated GIF"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                            </svg></a></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2">
                    <label class="form-check-label" for="inlineCheckbox3">Add
                        Video <a href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                            data-bs-content="Display size: 450x325, Maximum file size: 10mb for MP4, Accepted file formats: Uploaded MP4 file or URL link to MP4; YouTube; Vimeo; Facebook. "><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                            </svg></a></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-outline-primary rounded-pill">
            Previous</a>
        <a href="#" class="btn btn-primary rounded-pill">
            Next</a>
    </div>
</div>