<div class="card shadow-sm mb-5 border-0">
    <div class="card-body bg-primary bg-opacity-10">
        <div class="row g-3">
            <div class="col-auto">
                <label class="mb-2">Date</label>
                <div class="input-group">
                    <button id="predefineRange" class="form-control text-start">
                        <span>January 26, 2023 - February 1, 2023</span>
                    </button>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col">
                <label class="mb-2">Transfer
                    Filter</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Show Transfers & Views</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col">
                <label class="mb-2">Labels</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Show All</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col">
                <label class="mb-2">Partners</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>
                            Ours and Partners
                        </option>
                        <option value="1">
                            One
                        </option>
                        <option value="2">
                            Two
                        </option>
                        <option value="3">
                            Three
                        </option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col">
                <label class="mb-2">Retailers</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>
                            All
                            Retailers
                        </option>
                        <option value="1">
                            One
                        </option>
                        <option value="2">
                            Two
                        </option>
                        <option value="3">
                            Three
                        </option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="mt-1 me-3">Advanced Filters</span>
                    <button style="min-width: 0;" class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse"
                        href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">ON
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path
                                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                        </svg></button>
                    <button style="min-width: 0;" class="btn btn-primary">Reset
                        All</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collapse" id="collapseExample">
    <div class="card mb-5">
        <div class="card-body">
            <div class="row mb-5">
                <div class="col-lg-4 mb-lg-0 mb-4">
                    <div class="dropdown">
                        <label for="predefineRange" class="form-label">Date</label>
                        <button id="predefineRange" class="form-control text-start">
                            <span>January 26, 2023 - February 1, 2023</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="mb-3">Transfer filter</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Show Transfers Only
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Show Transfers and Views
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-floating mb-2">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>All</option>
                            <option value="1">By Labels</option>
                        </select>
                        <label for="floatingSelect">Labels</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <select class="form-select mb-3" id="inputGroupSelect01" disabled>
                        <option selected>Chooose</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-floating mb-2">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Ours and Partners</option>
                            <option value="1">Ours Only</option>
                            <option value="2">Partners Only</option>
                        </select>
                        <label for="floatingSelect">Scope</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-2">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Choose..</option>
                            <option value="1">Pinterest</option>
                        </select>
                        <label for="floatingSelect">Partners</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-floating mb-2">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>All Retailers</option>
                            <option value="1">Selected Retailers</option>
                        </select>
                        <label for="floatingSelect">Retailers</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <select class="form-select mb-3" id="inputGroupSelect01" disabled>
                        <option selected>Chooose</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>
                                All
                            </option>
                            <option value="1">
                                One
                            </option>
                            <option value="2">
                                Two
                            </option>
                            <option value="3">
                                Three
                            </option>
                        </select>
                        <label for="floatingSelect">UTM Paremeters</label>
                    </div>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="button" style="min-width: 0;"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-unlock" viewBox="0 0 16 16">
                        <path
                            d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                    </svg></button>
                <button type="button" class="btn btn-success" data-bs-toggle="button" style="min-width: 0;"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                    </svg></button>
                <a class="mt-2 ms-2" href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                    data-bs-content="Select lock to retain Date & Transfer across implementations"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg></a>
                <button type="button" class="btn btn-outline-primary ms-5" data-bs-toggle="button"
                    style="min-width: 0;">Export</button>
                <a class="mt-2 ms-2" href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                    data-bs-content="Global export is disabled for the date range you chose, please select a date range equal or lower than 31 days."><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg></a>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-outline-primary rounded-pill">
                Reset</a>
            <a href="#" class="btn btn-primary rounded-pill">
                Filter</a>
        </div>
    </div>
</div>