<div class="card shadow-sm mb-5 border-0">
    <div class="card-body bg-primary bg-opacity-10">
        <div class="row row-cols-auto g-3">
            <div class="col-auto">
                <label class="mb-2">Date</label>
                <div class="input-group">
                    <button id="predefineRange" class="form-control text-start">
                        <span>January 26, 2023 - February 1, 2023</span>
                    </button>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col-auto">
                <label class="mb-2">Transfer
                    Filter</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Show Transfers and Views</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col-auto">
                <label class="mb-2">Labels</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Show All</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col-auto">
                <label class="mb-2">Partners</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>
                            Ours and Partners
                        </option>
                        <option value="1">
                            One
                        </option>
                        <option value="2">
                            Two
                        </option>
                        <option value="3">
                            Three
                        </option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
            <div class="col-auto">
                <label class="mb-2">Retailers</label>
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>
                            All
                            Retailers
                        </option>
                        <option value="1">
                            One
                        </option>
                        <option value="2">
                            Two
                        </option>
                        <option value="3">
                            Three
                        </option>
                    </select>
                    <button style="min-width: 0;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="mt-1 me-3">Advanced Filters</span>
                    <button style="min-width: 0;" class="btn btn-outline-primary btn-sm" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">ON
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path
                                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                        </svg></button>
                    <button style="min-width: 0;" class="btn btn-primary">Reset
                        All</button>
                </div>
            </div>
        </div>
    </div>
</div>