  <!--////////////////// PreLoader Start//////////////////////-->
  <div class="loader">
      <!--Placeholder animated layout for preloader-->
      <div
          class="content flex-column p-4 pb-0 d-flex justify-content-center align-items-center flex-column-fluid position-relative">
          <div class="w-100 h-100 position-relative d-flex align-items-center justify-content-center">
              <i class="anim-spinner fas fa-spinner me-3"></i>
              <div>
                  <span>Loading....</span>
              </div>
          </div>
      </div>
  </div>
  <!--////////////////// /.PreLoader END//////////////////////-->