<!-- Modal -->
<div class="modal fade" id="brandedui" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Decide which style works better for your purpose
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row g-5">
                            <div class="col-lg-4">
                                <img class="img-fluid mb-5"
                                    src="https://smartsuite.co/images/pages/url_generator/branded_retailer_choice.png">
                                <h5>Retailer Choice</h5>
                                <p>Multiple retailer choices for defined product bundle, decorated with marketing assets
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <img class="img-fluid mb-5"
                                    src="https://smartsuite.co/images/pages/url_generator/branded_product_choice.png">
                                <h5>Product choices</h5>
                                <p>Multiple products choices for a single retailer, decorated with marketing assets
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <img class="img-fluid mb-5"
                                    src="https://smartsuite.co/images/pages/url_generator/branded_retailer_product_choice.png">
                                <h5>Retailer & Product Choice</h5>
                                <p>Multiple retailers with multiple products, decorated with marketing assets
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary rounded-pill"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>